<div fxLayout="row" fxLayoutAlign="center" style="margin-top:100px">

  <div
   fxLayoutAlign="center center"
   class='example-list'
   cdkDropList
   (cdkDropListDropped)="active=!active"
   style="position:relative">

  <video
    class="Video"
    loop controls
    cdkDragLockAxis="y"
    cdkDragBoundary=".example-list"
    src="../assets/videos/Video1.mov"
    cdkDrag type="video/mov" autoplay
    [ngClass]="{overlay:active===true}"
    oncanplay="this.play()" onloadedmetadata="this.muted = true">
  </video>

  <video
    class="Video"
    loop controls
    cdkDragLockAxis="y"
    cdkDragBoundary=".example-list"
    src="../assets/videos/Video2.mp4"
    cdkDrag type="video/mp4" autoplay
    [ngClass]="{overlay:active===false}"
    oncanplay="this.play()" onloadedmetadata="this.muted = true">
  </video>

  </div>

</div>
